<h1><%= @post.title %></h1>
<small>posted by: <%= @post.author.username %></small>
<br>
<% unless @post.url == "" %>
    <small><a href="<%= @post.url %>">url</a></small>
<% end %>
<br><br>

<p><%= @post.content %></p>

<br><br>

<h3>Subs</h3>
<ul>
    <% @post.subs.each do |sub| %>
        <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
    <% end %>
</ul>

<h3>Comments</h3>

<a href="<%= new_post_comment_url(@post.id) %>">Comment on this post!</a>

<br>
<ul>
    <% parent_comments = @post.comments.where(parent_comment_id: nil) %>
    <% parent_comments.each do |parent_comment| %>
    <li>
        <%= parent_comment.body %>
        <br>
        <small><a href="<%= comment_url(parent_comment) %>">Comment</a></small>
    </li>
    <% end %>
</ul>